

$purple: #444791;
$purple-light: #5b5fc7;


.top-nav {
    background-color: $purple;
    height: 48px;
    align-items: center;
  
    .search-container {
      position: relative;
  
      .search-icon {
        left: 50px;
        position: absolute;
        line-height: 30px;
        color: #817b7b;
        pointer-events: none;
      }
  
      input[type=text]:focus {
        background-color: white;
        box-shadow: none;
      }
  
      .search-box {
        background-color: rgba(255, 255, 255, 0.8);
        width: 90%;
        margin-left: 42px;
        padding: 4px 30px;
        font-size: 14px;
        border-radius: 4px;
      }
    }
  }